.container {
  width: fit-content;
  box-shadow: 1px 2px 3px 2px green;
  height: 100vh;
}

.grid {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  gap: 10px;
}

.btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.prog {
  margin-bottom: 15px;
}
.style {
  display: flex;
  flex: 1;
}
li {
  margin-top: 15px;
  list-style-type: none;
}

.lists {
  display: flex;
}
.item-name {
  margin-right: 50%;
}

.item-length {
  border-radius: 50%;
  height: auto;
}

.input {
  margin-bottom: 10px;
  width: 100%;
}
